

.name {
  margin-top: 5vh;
  color: black;  
  font-family: 'font-family: 'Montserrat Alternates', sans-serif;';
  font-size: 100px;
  margin-left: 300px;
}

.career {
    color: black;  
    font-family: 'font-family: 'Montserrat Alternates', sans-serif;';
  font-size: 100px;
  margin-left: 500px;
}

@media screen and (max-width: 1040px) {
  .name {
    min-width: 100%;
    margin-left: 0px;
  }
  
}

@media screen and (max-width: 1040px) {
  .career {
    min-width: 100%;
    margin-left: 0px;
    
  }
  
}

@media screen and (max-width: 768px) {
  .name {
    min-width: 100%;
    font-size: 75px;
  }
}

@media screen and (max-width: 768px) {
  .career {
    min-width: 100%;
    font-size: 75px;
  }
}

@media screen and (max-width: 600px) {
  .name {
    min-width: 100%;
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .career {
    min-width: 100%;
    font-size: 40px;
  }
}