

.name {
  margin-top: 5vh;
  color: black;  
  font-family: 'font-family: 'Montserrat Alternates', sans-serif;';
  font-size: 100px;
  margin-left: 300px;
}

.career {
    color: black;  
    font-family: 'font-family: 'Montserrat Alternates', sans-serif;';
  font-size: 100px;
  margin-left: 500px;
}