

.name {
  margin-top: 5vh;
  color: black;  
  font-family: 'font-family: 'Montserrat Alternates', sans-serif;';
  font-size: 100px;
  margin-left: 300px;
}

.career {
    color: black;  
    font-family: 'font-family: 'Montserrat Alternates', sans-serif;';
  font-size: 100px;
  margin-left: 500px;
}

@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}