.nav nav-tabs {
    background-color: gray;
}

.nav-items {
    background-color: gray;
}

@media screen and (max-width: 992px) {
    .nav-items {
      min-width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .nav-items {
      min-width: 100%;
    }
  }